<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <div class="header_menu_icon" routerLink="/">
        <mat-icon>menu</mat-icon>
      </div>
      <img routerLink="/" src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo" alt="">
    <div class="header_menu_searchbar">
      <input type="text" class="header_menu_input" size="80">
      <div class="header_menu_searchbar_icon">
        <mat-icon>search</mat-icon>
      </div>
    </div>
    <div class="header_menu_signin">
      <span (click) ="logout()" class="header_menu_top_item" *ngIf="loginService.getIsLogged()" >Ciao, {{loginService.getUsername()}}</span>
      <!--<span  (click) ="login()" class="header_menu_top_item" *ngIf="!loginService.getIsLogged()">Ciao, Accedi</span>-->
      <span  (click) ="login()" class="header_menu_top_item" *ngIf="!loginService.getIsLogged()">Ciao, Accedi</span>
      <span class="header_menu_bottom_item">
        <span *ngIf="!loginService.getIsLogged()">Account e liste</span>
        <button [matMenuTriggerFor]="menu" *ngIf="loginService.getIsLogged()" class="list_log">
           Account e liste
          <mat-menu #menu="matMenu">
            <button *ngIf="loginService.getIsAdmin()" routerLink="/add" mat-menu-item><span>Aggiugni prodotto</span></button>
          </mat-menu>
        </button>
      </span>
    </div>
    <div routerLink="/ordination" class="header_menu_signin" *ngIf="loginService.getIsLogged()">
      <span class="header_menu_top_item">Resi</span>
      <span class="header_menu_bottom_item">e ordini</span>
    </div>
    <div (click)="back()" routerLink="/checkout" class="header_menu_cart" >
      <mat-icon>shopping_cart</mat-icon>
      <p class="header_cart_number">{{shoppingCart.getCartLength()}}</p>
    </div>
    </div>

  </nav>
  <nav class="header_bottom">
    <div class="header_bottom_location_text">
      <span class="header_left_line_one"> Spedisci a </span>
      <span class="header_left_line_two"> <Strong>Italia</Strong></span>
    </div>
  </nav>
</div>
