<div class="products">
  <div class="product" *ngFor="let product of products">
    <mat-card>
      <p>{{product.name}}</p>
      <p><strong>{{product.price}}</strong> €</p>
      <img src={{product.imageUrl}}>
      <div class="update_delete">
      <button class="add" (click)="checkQuantity(product)">Aggiungi al carrello</button>
      <!--<button class="add" *ngIf="this.shopping_cart.getQuantity(product)>=this.productService.getQuantity(product)">Aggiungi al carrello</button>-->
        <button *ngIf="loginService.getIsLogged() && loginService.getIsAdmin()" (click)="storageProducts(product)" (click)="back()" (click)="onDelete(product)" mat-fab style="background-color: red; "color="black">
          <mat-icon>delete</mat-icon>
        </button>
        <button class="update"mat-fab *ngIf="loginService.getIsLogged() && loginService.getIsAdmin()"  (click)="storageProducts(product)" (click)="findProduct(product)" routerLink="/update"  style="background-color: blue;" color="black">
          <mat-icon>update</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
